mydata <- read.csv("http://www.ats.ucla.edu/stat/data/binary.csv")
head(mydata)
install.packages("ROCR")
library("caret")
library("e1071")
#Checkin for missing values 
sapply(mydata,function(x)sum(is.na(x)))
sapply(mydata,function(x)length(unique(x)))
#Changing to data type
admit=as.factor(mydata$admit)
rank=as.factor(mydata$rank)
# Splitting the data into 80% train and 20% test data 
a=nrow(mydata)*0.8
train=mydata[1:320,]
test=mydata[321:400,]
# model fittin for train data
Model=glm(admit~.,family="binomial",data=train)
summary(Model)
#predicting for train data
fitted.values=predict(Model,data=train,type="response")
fit.res=ifelse(fitted.values>0.5,1,0)
fit.res
#Confusion matrix
confusionMatrix(train$admit,fit.res)

# Predicting for test data
Pre_testdata=predict(Model,newdata=test,type="response")
pr=prediction(Pre_testdata,test$admit)
fit.res1=ifelse(Pre_testdata>0.5,1,0)
fit.res1
#Confusion matrix
confusionMatrix(test$admit,fit.res1)
